/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    transition: 1s;

}

/*/* Create rocket hover animation here */

.rocket_svg:hover {
    transform: rotate(250deg);
}


/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    transition: 1s;
}

.astronaut_svg:hover {
    transform: translateX(100px)
}

/*/
    * Create astronaut hover animation here */
/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 0px;
    margin-top: 0px;
    animation: 2s bounce linear infinite;
    position: relative;
}

@keyframes bounce {

    0% {
        transform: translate(0, 0)
    }

    25% {
        transform: translate(200px, -50px)
    }

    50% {
        transform: translate(400px, 0)
    }

    75% {
        transform: translate(600px, 50px)
    }

    100% {
        transform: translate(800px, 0)
    }
}
