/* ===== Problem 1 ===== */

.rocket_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    transition: 1s;

}

/*/* Create rocket hover animation here */

.rocket_svg:hover {
    transform: rotate(250deg);
}


/* ===== Problem 2 ===== */

.astronaut_svg {
    height: 200px;
    width: auto;
    margin-left: 200px;
    transition: 1s;
}

.astronaut_svg:hover {
    transform: translateX(100px)
}

/*/
    * Create astronaut hover animation here */
/* ======= BONUS ======= */

.earth_svg {
    height: 200px;
    width: auto;
    margin-left: 300px;
    animation: 5s bounce infinite;
    position: relative;
}

@keyframes bounce {
    0% {
        bottom: 0px;
    }

    25% {
        bottom: 100px;
    }

    50% {
        bottom: 0px;
    }

    75% {
        bottom: 100px;
    }

    100% {
        bottom: 0px;
    }
}
